.home__bg {
    background-image: url(https://images.businessnewsdaily.com/app/uploads/2022/04/04075741/Entrepreneurship_George_Rudy.png);
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-color: azure;
}

.home-message-icon {
    margin-left: 10px;
    display: inline-block;
}

.greet{
    margin-left: 3vw;
}
