.commcontainer{
   /* background-color: #23272a;*/
   background-color:  #2c2f33;
    min-width: 15vw;
    height: 105vh;
}

.videochat{
    color: white;
    text-align: center;
}

.videochat ul{
    list-style-type: none;
}

.videochat ul li{
    display: flex;
    align-items: flex-end;
    padding: 5px 0px;
    cursor: pointer;
    transition: background-color 0.2s;
    column-gap: 10px;
    margin-right: 45px;
    padding-left: 10px;
}

.videochat ul li:hover{
    background-color: #5f656d;
}

.videochat ul li p{
    margin:0 !important;
}
.vid{
    width: 15px;
}