.messages-output {
    height: 80vh;
    background-color: #141618;
    overflow-y: scroll;
    margin-top: 15px;
    margin-bottom: 20px;
    outline: 0px !important;
    border: 0px !important;
}

#headingchat{
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow:0 8px 32px 0 rgba(0,0,0,0.37);
    border: none;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

/*for date info in chat*/
#dateinfo{
    background-color: #7289da;
    /* color: white; */
    border: none !important;
    color: black;
    height: 22px;
    width: 100px;
    border-radius: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 15px
}

*{
    /* color:#000; */
    outline: none;
}

.message-inner {
    color: #000;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    min-width: 250px;
    max-width: 55%;
    text-align: left;
    min-height: 60px;
    font: 400 1em, sans-serif;
    display: inline-block;
    border-radius: 10px;
    background-color: #57f287;
    position:relative;
}


.incoming-message .message-inner {
    background-color: #ffdab9;
}

.incoming-message {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.message-timestamp-left {
    font-size: 0.85em;
    font-weight: 300;
    margin-top: -14px;
    margin-bottom: 0px !important;
}

.message-sender {
    margin-bottom: 5px;
    font-weight: bold;
}

.message-date-indicator {
    width: 150px;
    margin: 0 auto;
}

.conversation-info {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    height: 100px;
}

.conversation-profile-pic {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 10px auto;
    margin-bottom: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

#userinfo{
    justify-content: space-between;
}

#prochat{
    display: flex;
    align-items: center;
}

#star{
    width: 15px;
    cursor:pointer;
}

.incoming-message .message-inner .message-timestamp-left{
    text-align: right;
}


/* Webkit browsers */
::-webkit-scrollbar {
    width: 0.4em; /* Width of the scrollbar */

  }

  /* Track (the moving part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background-color: grey; /* Thumb color */
    border-radius: 10px; /* Rounded corners */
  }

  /* Firefox */
  scrollbar {
    width: 0.4em; /* Width of the scrollbar */
    background-color: #000; /* Background color */
  }

  /* Track (the moving part of the scrollbar) */
  scrollbar-thumb {
    background-color: grey; /* Thumb color */
    border-radius: 10px; /* Rounded corners */
  }
