.member-status-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

#roominfodiv{
    padding-right: 0px !important;
}

.list-group{
    margin-top: 14px;
}
.empty{
    text-align: center;
    color: white;
    color: aliceblue;
    /* border-radius: 0px !important; */
    /* background: #FE2712; */
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 37%);
    border: none;
    /* vertical-align: middle !important; */
    height: 68px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.roomdiv{
    display: flex;
}

.list-group{
    border: none;
    color: #B2D732;
    background: #3C2994;
    height: 300px;
    overflow: auto;
}

.roomlist{
    background-color: transparent !important;
    flex:1;
    border:none !important;
    transition: opacity 0.2s;
    transition: box-shadow 0.2s;
    flex-direction: row-reverse;
    padding: 10px 55px !important;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    /* padding: 0px 78px; */
    background-color: transparent;
    color: white;
}

.roomlist:hover{
    opacity:0.7;
    backdrop-filter: blur(20px);
    box-shadow:0 8px 32px 0 rgba(0,0,0,0.37);
}

.active{
    background-color:rgb(114, 137, 218) !important;
}

.mytxt{
    width:24px;
}

.list-group-item {
    padding: 6px 24px !important;
font-weight: 600;
}

.population{
    display: flex;
    width:55px;
    align-items: flex-start;
    justify-content: space-between;
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow:0 8px 32px 0 rgba(0,0,0,0.37);
    border: none;
    border-radius: 8px;
    width: 60px;
    /* height: 32px; */
    padding: 5px 4px;
    height: 31px;
}

.member-status {
    margin-bottom: 0;
    position: relative;
}
.col-9{
color: white;
}
.sidebar-online-status {
    color: green;
}

.maindiv{
    border: none;
    padding-bottom: 10px;
    padding-top: 2px;
    background: orangered;
    overflow: auto;
    height: 300px;
}

.sidebar-offline-status {
    color: #e3b505;
}
/* .member-status-img {
} */

.sidebar-offline-status,
.sidebar-online-status {
    font-size: 11px;
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 12px;
}

/* Webkit browsers */
::-webkit-scrollbar {
    width: 0.4em; /* Width of the scrollbar */

  }
  
  /* Track (the moving part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background-color: grey; /* Thumb color */
    border-radius: 10px; /* Rounded corners */
  }
  
  /* Firefox */
  scrollbar {
    width: 0.4em; /* Width of the scrollbar */
    background-color: #000; /* Background color */
  }
  
  /* Track (the moving part of the scrollbar) */
  scrollbar-thumb {
    background-color: grey; /* Thumb color */
    border-radius: 10px; /* Rounded corners */
  }